.user-profile .message {
    font-size: 0.8em;
    padding: 0.5em 1em;
}

.user-profile .ok {
    color: rgb(107, 226, 107);
}

.user-profile .error {
    color: rgb(255, 119, 119);
}

img.preview {
    width: 96px;
    height: 96px;
}

.change-avatar {
    cursor: inherit;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: -67px;
    right: -20px;
    height: 95px;
    width: 95px;
    opacity: 0;
}

.hidden {
    display: none !important;
}
